/* Reseteo */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

/* Barra de navegacion */

header nav {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

header h1 {
    font-size: 30px;
    text-align: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    font-size: 20px;
}

.btn-icon {
    height: 15px;
    width: 15px;
    margin: 8px;
}

/* Productos disponibles */

.product-list {
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
}

.card-products {
    box-shadow: 0 4px 8px 0 black;
    max-width: 400px;
    flex: 1;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
}

.card-products h4 {
    margin-top: 10px;
}

.card-products img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.card-price {
    margin-top: 5px;
    font-size: 18px;
}

.card-button {
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: blue;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card-button:hover {
    opacity: 0.7;
}

/* Contenido del Carrito */

.modal-container {
    width: 80%;
    margin: 0 10%;
    max-height: 80vh;
    color: #131111c8;
    background-color: #c676da;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 14vh;
    scrollbar-color: none;
}

.modal-container::-webkit-scrollbar {
    display: none;
}

.modal-header {
    display: flex;
    justify-content: space-evenly;
    background-color: #c676da;
    color: #131111c8;
    width: 100%;
}

.modal-header-tittle {
    justify-self: start;
    font-weight: bold;
}

.modal-button {
    cursor: pointer;
}

.cart-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}

.cart-content p {
    margin-top: 10px;
    font-size: 20px;
}

.modal-container div img {
    height: 150px;
    width: 220px;
}

.total-buying {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}

.total-buying h3 {
    font-weight: bold;
}

/* Form + Comments */

.below-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Formulario de consultas */

.form {
    height: 450px;
    width: 450px;
    margin: 5px;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.h2-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-weight: bold;
    font-size: 18px;
}

.input-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.input-group label {
    font-weight: bold;
    font-size: 15px;
}

.input-group input {
    width: 350px;
}

.dropdown {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form button {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

::placeholder {
    color: #9f1717;
    font-style: italic;
}

/* Comentarios de clientes */

.comments-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-tittle h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.card {
    display: flex;
    flex-direction: row;
    width: 900px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-transform: capitalize;
    margin: 5px 5px;
    border: 2px solid grey;
    box-shadow: -1px 6px 24px 2px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

.card-body {
    display: flex;
    flex-direction: row;
    height: 180px;
    width: 220px;
    margin: 10px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-body h4 {
    display: flex;
    gap: 5px;
    font-size: 14px;
}

.card-body p {
    display: flex;
    gap: 5px;
    font-size: 10px;
}

/* Footer */

.footer {
    font-weight: bold;
    font-size: 15px;
    display: flex;
    justify-content: end;
    margin: 10px 20px;
}

/* Pagina en construccion */

.page-construction {
    font-weight: bold;
    font-size: 30px;
}